.hex {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background-color: #d83561;
    margin: 86.60px 0;
    border-left: solid 5px #d83561;
    border-right: solid 5px #d83561;
  }
  
  .hex:before,
  .hex:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 38.9340px;
  }
  
  .hex:before {
    top: -106.0660px;
    border-top: solid 7.0711px #d83561;
    border-right: solid 7.0711px #d83561;
  }
  
  .hex:after {
    bottom: -106.0660px;
    border-bottom: solid 7.0711px #d83561;
    border-left: solid 7.0711px #d83561;
  }
 
  
  /* ANOTHER ONE */
.hexagon {
    position: relative;
    width: 500px;
    height: 288.68px;
    background: #CD5C5C;
    margin: 144px auto;
  }
  
.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}
.hexagon::before {
    bottom: 100%;
    border-bottom: 144.34px solid #CD5C5C;
  }
.hexagon::after {
    top: 100%;
    border-top: 144.34px solid #CD5C5C;
  }